<form #newPressao="ngForm" (ngSubmit)="submmitPressao()" class="container">
    <mat-form-field class="input-form">
        <mat-label>Pressão sistólica</mat-label>
        <input type="number" step="0.01" matInput placeholder="ex: 120.00" required
            [(ngModel)]="newPressaoDto.sistolica" name="sistolica">
    </mat-form-field>
    <mat-form-field class="input-form">
        <mat-label>Pressão diastólica</mat-label>
        <input type="number" step="0.01" matInput placeholder="ex: 80.00" required
            [(ngModel)]="newPressaoDto.diastolica" name="diastolica">
    </mat-form-field>
    <div class="button-row">
        <button type="submit" mat-raised-button color="primary" [disabled]="!newPressao.form.valid">
            Registrar pressão arterial
        </button>
        <button mat-raised-button color="warn">
            Voltar
        </button>
    </div>
</form>